[submodule "BinderKeys"]
	path = BinderKeys
	url = https://github.com/JKAnderson/BinderKeys
[submodule "libps3"]
	path = libps3
	url = https://github.com/WarpZephyr/libps3
[submodule "Edoke"]
	path = Edoke
	url = https://github.com/WarpZephyr/Edoke
[submodule "SoulsFormatsNEXT"]
	path = SoulsFormatsNEXT
	url = https://github.com/soulsmods/SoulsFormatsNEXT
